<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 mb-40">
                <div class="section-title">
                    <h2>Welcome to <br>Advance Fleet Services</h2>
                </div>
                <div class="about-content">
                    <p class="mb-4">Welcome to Advance Fleet Services, your premier fleet service provider and truck center located in central Birmingham, Alabama. With decades of experience and a team of highly skilled technicians, we are proud to offer full in-house servicing for all makes and models of on and off-road heavy-duty equipment, forklift maintenance, and trailer repair.</p>
                    <p class="mb-4">At Advance Fleet Services, we understand the importance of keeping your fleet running smoothly and efficiently. We offer multi-state mobile fleet operations to help minimize downtime and to keep your business moving forward. Our comprehensive parts department is stocked with a wide range of quality parts to ensure quick turnaround times on repairs. Our grab-n-go showroom makes it easy to pick up any supplies or accessories you may need.</p>
                    <p class="mb-4">Whether you have a single vehicle or a large fleet, our team is dedicated to providing top-notch service and getting you back on the road quickly. For all your fleet maintenance needs, look no further than Advance Fleet Services.</p>
                    <p class="mb-4">Stop in today and see why we are your go-to choice for businesses in central Alabama!</p>
                    <p class="mt-5 mb-4"><a class="btn" href="/team">Meet the team</a></p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 mb-20 md-margin">
                <img class="img-fluid pl-sm-0 pl-md-4" src="https://images.unsplash.com/photo-1616432043562-3671ea2e5242?q=80&w=1400&auto=format&fit=crop" />
            </div>
        </div>
    </div>
</section>