<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 text-center mb-20">
                <div class="section-title service-title">
                    <h2>Welcome to Advance Fleet Services</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4 pl-3 pl-md-0">
                <img class="img-fluid" src="/assets/img/team/afs-location.webp">
            </div>
            <div class="col-12 col-md-6 mb-0 mb-md-40">
                <div class="about-content pl-0 pl-lg-2">
                    <p class="mb-3">Advance Fleet Services is a family-owned and operated company with over 40 years of experience in providing first-class fleet maintenance, tractor-trailer repair, and diesel engine services. Our commitment to excellence is reflected in our dedication to customer service & our people first approach, which sits at the core of our business values.</p>
                    <p class="mb-3">Stop in today and see why we are your go-to choice for businesses in central Alabama!</p>
                    <p class="mt-4 mb-4"><a class="text-btn" href="/about-us">Mission & Values &#8594;</a></p>
                </div>
            </div>
        </div>
    </div>
</section>