<div id="intakeForm">
    <div class="container py-5">
        <h2>Talk to a Specialist</h2>
        <p class="mb-5">Have a question or need help finding what's right for you? Our experienced specialists are available to help!</p>
        <form name="contact" method="POST" data-netlify="true">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phone">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone" required>
            </div>
            <div class="form-group col-md-6">
              <label for="company">Company</label>
              <input type="text" class="form-control" id="company" name="company" required>
            </div>
          </div>
          <button type="submit" class="mt-2 btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>