<section class="black-bg py-3 text-center" style="border-top: 1px solid #333; border-bottom: 1px solid #333;">
  <div class="container">
    <div class="row">
      <p class="text-gray text-center my-0 px-2" style="width: 100%; color: #888; font-style: italic; font-size: 13px;">Brandt partner assets & content from <a style="color: #888; text-decoration: underline;" href="https://www.brandt.ca/Divisions/Tractor/Products/Trailers" target="_blank">Brandt.ca</a></p>
    </div>
  </div>
</section>