<section class="brandt-banner white-bg py-0 mb-4 text-center">
  <div class="container my-0 px-0 pb-5">
    <div class="counter-area pb-80 pt-80 px-3 px-md-5" style="background-image:url('/assets/img/brandt/brandt-utility-trailer-sq.webp'); background-attachment: local;">
      <div class="row">
          <div class="col-12 z-index">
            <div class="single-counter text-center my-0 my-md-4">
                <img class="img-fluid" src="/assets/img/afs-brandt-logo-grp.svg">
                <h6 class="mb-3 mt-3" style="color:#ef4123;">Parts • Services • Sales</h6>
              <h4 class="mt-3 mb-3 px-0 px-sm-4 white-color">Advance Fleet Services, Your Brandt Dealer!</h4>
              <p><a class="btn btn-sm" href="/brandt">Learn More</a></p>
              <!-- <p class="font-weight-normal">Two-years bumper-to-bumper and five-year structural warranty covers all components is the best coverage in the business.</p> -->
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<style>
    section.brandt-banner .counter-area {position: relative; overflow: hidden;}
    section.brandt-banner .counter-area:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000;
        opacity: .27;
    }
</style>