<section class="grey-bg py-0 text-center" style="border-top: 1px solid #eee;">
  <div class="container-fluid my-0 px-0">
    <div class="counter-area pb-80 pt-80 px-3 px-md-5" style="background-image:url('/assets/img/brandt/brandt-galvanized-punch.webp'); background-attachment: local;">
      <div class="row">
          <div class="col-12 z-index">
            <div class="single-counter text-center mb-30">
              <h4 class="mt-4 mb-4 white-color">BRANDT FINANCING OPTIONS</h4>
              <p class="fs-110 font-weight-normal">
                <a class="btn btn-sm" href="#brandtForm">Explore Finance Options ↴</a>
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>