<section class="cta-area dark" style="background-image:url({{site.baseurl}}/assets/img/slider/abstract-blue-wall.webp);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action">
                    <h3 class="text-white mb-4">Developing first class solutions <br>
                        for our customers.</h3>
                    <div class="call-to-action">
                        <!-- <a href="https://www.youtube.com/watch?v=vKSA_idPZkc" class="btn video-view">watch video</a> -->
                        <a class="btn" href="/advance-solutions">Advance Solutions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>