<div class="parters-area pt-50 pb-50">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <h5 class="m-0 font-weight-bold text-uppercase">We Proudly Service</h5>
        </div>
        <div class="row flex-wrap justify-content-center">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/partners/autocar-logo.png" alt="Autocar">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/partners/cummings-logo.svg" alt="Cummings">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/partners/detroit-logo.svg" alt="Detroit">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/partners/freightliner-logo.svg" alt="Freightliner">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/partners/hino-logo.svg" alt="Hino">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/partners/international-logo.svg" alt="International">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/partners/kalmar-ottara-logo.svg" alt="Kalmar">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/partners/mack-logo.svg" alt="Mack">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/partners/paccar-logo.svg" alt="Paccar">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/partners/volvo-logo.svg" alt="Volvo">
        </div>
    </div>
</div>

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-80 pb-20">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span><a class="haz-color" href="tel:2058683039">205-868-3039</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Contact us</h4>
                            <span><a class="haz-color" href="/pages/contact">Let's connect</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span><a class="haz-color" href="https://www.google.com/maps/place/Advance+Fleet+Services,+6510+1st+Ave+N,+Birmingham,+AL+35206/@33.549373,-86.7415315,15z/data=!4m6!3m5!1s0x88891b291cdc4835:0x2d0924dff13467ba!8m2!3d33.549373!4d-86.7415315!16s%2Fg%2F11sj0c382p" target="_blank">6510 1st Ave N, Birmingham, AL 35206</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-50 pb-30">
            <div class="footer-pattern">
                <img src="{{site.baseurl}}/assets/img/footer/footer_map.png" alt="">
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="{{site.url}}"><img style="width: 100%; max-width: 300px;" src="{{site.logo_2}}" class="img-fluid" alt="{{site.title}}"></a>
                        </div>
                        <div class="footer-text">
                            <p>Committed to quality, service, & excellence.</p>
                        </div>
                        <div class="footer-social-icon">
                            <!-- <span>Follow us</span> -->
                            <a href="{{site.facebook_url}}"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <!-- <a href="{{site.twitter_url}}"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="{{site.pinterest_url}}"><i class="fab fa-pinterest-p google-bg"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        {% include subscribe.html %}
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2019, All Right Reserved <a href="#">Trade</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</footer>