<section class="reviews">
    <div class="container-fluid">
        <div class="row">
            <div class="review-left-wrap">
                <div class="review-left">
                    <h4>Customer Testimonials</h4>
                    <p>What our onsite customers say about us</p>
                </div>
            </div>

            <div class="review-right">
                <div class="reviews-wrap">
                  <div class="testimonial-active owl-carousel">
                    <div class="item">
                        <div class="review-card">
                            <div class="review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="review-text">“Great new facility! Branden Holcomb, the service manager, is the best diesel truck mechanic in the business. He's kept me rolling for over 20 years. The Advanced Fleet team can handle any diesel truck and trailer problem quickly and professionally. Give 'em a try; you won't ever go back to anyone else.”</p>
                            <div class="review-name">Milton Stone</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="review-card">
                            <div class="review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="review-text">“Best fleet mechanics in the Birmingham metro area! Branden, James, and the rest of the AFS team are always eager and happy to help. If you are on the search for a trusted, reliable fleet service provider, look no further than AFS.”</p>
                            <div class="review-name">Stone Marsh</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="review-card">
                            <div class="review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="review-text">“I’ve been a customer at this diesel mechanic shop for quite some time now, and I can confidently say that they provide top-notch service. James, the Branch Manager, and Brandon, the Service Manager, have consistently impressed me with their professionalism and expertise.”</p>
                            <div class="review-name">Ralph Jayroe</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="review-card">
                            <div class="review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="review-text">“Great fast service and excellent work; the hospitality at this place is unreal.”</p>
                            <div class="review-name">Mr. H</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="review-card">
                            <div class="review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="review-text">“Excellent customer service.”</p>
                            <div class="review-name">Flemming Transfer</div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    section.reviews {
        background: #e8e8e8;
    }
    .review-left-wrap {
        position: relative;
        overflow: hidden;
        width: 50%;
    }
    .review-left-wrap:after {
        content:'';
        position: absolute;
        right: -1px;
        top: -1px;
        height: calc(100% + 2px);
        width: 20%;
        transform: skew(-10deg) translateX(64%) translateZ(1px);
        background: #e8e8e8;
    }
    .review-left {
        height: 100%;
        background: #e80000;
        background: linear-gradient(150deg,rgba(232, 0, 0, 1) -20%, rgba(125, 0, 0, 1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 5%;
        padding-right: 12%;
    }

    .review-left h4 {
        color: #eee;
    }
    .review-left p {
        font-size: calc(17px + 0.6vw);
        color: #fff;
        margin: 0;
    }
    .review-right {
        width: 50%;
    }

    .testimonial-active .item {
        padding: 6px;
    }

    #reviews-carousel .owl-item {height: 100%;}
    .reviews-wrap {
        position: relative;
        padding: 70px 10%;
        width: 100%;
        overflow: hidden;
        z-index: 10;
        position: relative;
    }
    .reviews-wrap:before {
        content: "”";
        position: absolute;
        top: 0;
        right: 0;
        color: #e80000;
        opacity: .8; 
        font-size: calc(60px + 10vw);
        font-family: Georgia,Times,Times New Roman,serif; 
        transform: translate(-50%, -12%);
    }
    .review-card {
        background: rgba(255,255,255,0.7);
        border-radius: 4px;
        box-shadow: 0 0 0 4px rgba(80,80,80,.2);
        padding: 25px 22px;
    }
    .review-stars {
        font-size: 20px;
        margin: 0 0 .5em 0;
        color: goldenrod;
    }
    .review-text {
        font-size: 18px;
        line-height: 1.5em;
        margin: 0 0 .4em 0;
        font-style: italic;
    }
    .review-name {
        font-weight: 700;
        font-size: 16px;
    }

    @media (max-width: 1200px) {
        .reviews-wrap {padding: 45px 6%;}
    }
    @media (max-width: 767px) {
        .review-card {padding: 18px 18px;}
        .review-text {font-size: 16.5px;}
        .review-right, .review-left-wrap {width: 100%;}
        .reviews-wrap {padding: 40px 15px;}
    }

</style>




