<section class="service-area grey-bg pb-60 pt-80">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title service-title">
                    <h2>Our Services</h2>
                    <p>Family owned & operated company with over 40 years in the industry.</p>
                </div>
            </div>
        </div>
        <!-- Desktop Carousel -->
        <!-- <div class="row service-grid px-1 px-md-5 d-none d-lg-flex" >
            <div class="owl-carousel owl-no-nav">
                <div class="item">
                  <img class="img-fluid" src="/assets/img/brandt/lpf-decking.jpg">
                  <h5>Premium Decking</h5>
                </div>
                <div class="item">
                  <img class="img-fluid" src="/assets/img/brandt/lpf-decking.jpg">
                  <h5>Premium Decking</h5>
                </div>
                <div class="item">
                  <img class="img-fluid" src="/assets/img/brandt/lpf-decking.jpg">
                  <h5>Premium Decking</h5>
                </div>
                <div class="item">
                  <img class="img-fluid" src="/assets/img/brandt/lpf-decking.jpg">
                  <h5>Premium Decking</h5>
                </div>
                <div class="item">
                  <img class="img-fluid" src="/assets/img/brandt/lpf-decking.jpg">
                  <h5>Premium Decking</h5>
                </div>
                <div class="item">
                  <img class="img-fluid" src="/assets/img/brandt/lpf-decking.jpg">
                  <h5>Premium Decking</h5>
                </div>
            </div>
        </div> -->
        <!-- Mobile Grid -->
         <div class="row service-grid px-1 px-md-5 " >
            <div class="col-6 col-sm-6 col-md-4 text-center mb-2 mb-sm-3 mb-md-4">
                <div class="features-wrap" style="background-image: url(/assets/img/services/advance-fleet-services-truck-service.jpg);">
                    <!-- <div class="features-icon">
                        <img src="/assets/img/icons/layer-group-solid.svg" alt="Truck Services">
                    </div> -->
                    <h4>Truck Services</h4>
                    <!-- <p>Service escription coming soon</p> -->
                    <a class="btn btn-sm" href="/truck-service">Read More</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 text-center mb-2 mb-sm-3 mb-md-4">
                <div class="features-wrap" style="background-image: url(/assets/img/services/advance-fleet-services-trailer-service.jpg);">
                    <!-- <div class="features-icon">
                        <img src="/assets/img/icons/layer-group-solid.svg" alt="Trailer Services">
                    </div> -->
                    <h4>Trailer Services</h4>
                    <!-- <p>Service escription coming soon</p> -->
                    <a class="btn btn-sm" href="/trailer-service">Read More</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 text-center mb-2 mb-sm-3 mb-md-4">
                <div class="features-wrap" style="background-image: url(/assets/img/services/advance-fleet-services-mobile-wash.jpg);">
                    <!-- <div class="features-icon">
                        <img src="/assets/img/icons/layer-group-solid.svg" alt="Mobile Washing">
                    </div> -->
                    <h4>Mobile Washing</h4>
                    <!-- <p>Service escription coming soon</p> -->
                    <a class="btn btn-sm" href="/mobile-washing">Read More</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 text-center mb-2 mb-sm-3 mb-md-4">
                <div class="features-wrap" style="background-image: url(/assets/img/services/afs-fleet-trucks.jpg);">
                    <!-- <div class="features-icon">
                        <img src="/assets/img/icons/layer-group-solid.svg" alt="Emergency Road Service">
                    </div> -->
                    <h4>Mobile Fleet Service</h4>
                    <!-- <p>Service escription coming soon</p> -->
                    <a class="btn btn-sm" href="/mobile-fleet-service">Read More</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 text-center mb-2 mb-sm-3 mb-md-4">
                <div class="features-wrap" style="background-image: url(/assets/img/slider/afs-powerlines-sunset-hero.webp);">
                    <!-- <div class="features-icon">
                        <img src="/assets/img/icons/layer-group-solid.svg" alt="Emergency Road Service">
                    </div> -->
                    <h4>Boom & Rigging Inspections</h4>
                    <!-- <p>Service escription coming soon</p> -->
                    <a class="btn btn-sm" href="/boom-rigging-inspections">Read More</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 text-center mb-2 mb-sm-3 mb-md-4">
                <div class="features-wrap" style="background-image: url(/assets/img/services/afs-articulating-boom-lift.webp);">
                    <!-- <div class="features-icon">
                        <img src="/assets/img/icons/layer-group-solid.svg" alt="Emergency Road Service">
                    </div> -->
                    <h4>Dielectric Testing</h4>
                    <!-- <p>Service escription coming soon</p> -->
                    <a class="btn btn-sm" href="/dielectric-testing">Read More</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 text-center mb-2 mb-sm-3 mb-md-4">
                <div class="features-wrap" style="background-image: url(/assets/img/services/advance-fleet-services-emergency-service.jpg);">
                    <!-- <div class="features-icon">
                        <img src="/assets/img/icons/layer-group-solid.svg" alt="Emergency Road Service">
                    </div> -->
                    <h4>Emergency Road Service</h4>
                    <!-- <p>Service escription coming soon</p> -->
                    <a class="btn btn-sm" href="/emergency-road-service">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
