<!-- <section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/semi-hero.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 class="mb-2" data-animation="fadeInDown" data-delay=".2s">Committed to excellence</h1>
                            <p class="d-flex hero-perkset mt-4" data-animation="fadeInLeft" data-delay=".35s">
                                <span class="mr-4"><i class="fa fa-building"></i>Family Owned</span>
                                <span class="mr-4"><i class="fa fa-shield-alt"></i>Trusted Partners</span>
                                <span><i class="fa fa-check-double"></i>Quality guaranteed</span>
                            </p>
                            <a href="/contact" class="btn mt-4" data-animation="fadeInUp" data-delay=".4s">Let's Talk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Meet with us to <br>success dream <span>business</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">There are many variations of passages of Lorem Ipsum available but the majority have sufered <br>alteration
                                in some form by injected humour randomised</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Meet with us to <br>success dream <span>business</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">There are many variations of passages of Lorem Ipsum available but the majority have sufered <br>alteration
                                in some form by injected humour randomised</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="hero-video">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 pt-2 pl-2 pl-md-4 pl-lg-5">
                <!-- <h1 class="white-color mb-4" data-animation="fadeInDown" data-delay=".2s">Committed to Excellence</h1> -->
                <blockquote class="hero-quote">"Positive Energy Produces Positive Results"</blockquote>
                <p class="hero-quoter mb-2">&mdash; Carl Woods, President, C.E.O</p>
                <blockquote class="hero-quote">"Our Commitment to Excellence Drives Us Forward"</blockquote>
                <p class="hero-quoter mb-sm-20 mb-70">&mdash; Jesse Woods, Vice President</p>
                <p class="white-color d-flex flex-column flex-sm-row hero-perkset mt-20 mt-md-80 mt-lg-100 mb-2" data-animation="fadeInLeft" data-delay=".35s">
                    <span class="mr-0 mb-2 mr-sm-4"><i class="fa fa-building"></i>Family Owned</span> 
                    <span class="mr-0 mb-2 mr-sm-4"><i class="fa fa-shield-alt"></i>Trusted Partners</span>
                    <span class=""><i class="fa fa-check-double"></i>Quality guaranteed</span>
                </p>
                <a href="/contact" class="btn fill mt-4 mb-4" data-animation="fadeInUp" data-delay=".4s">Let's Talk</a>
            </div>
        </div>
    </div>
    <!-- Hero Video -->
    <video id="heroVid" autoplay muted loop playsinline poster="{{site.baseurl}}/assets/video/hero-poster.jpg">
      <source src="{{site.baseurl}}/assets/video/afs-hero-lg.mp4" type="video/mp4">
    </video>

</section>