<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/semi-hero.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 class="mb-2" data-animation="fadeInDown" data-delay=".2s">Committed to quality, service, & keeping your fleet running strong!</h1>
                            <p class="d-flex hero-perkset mt-4" data-animation="fadeInLeft" data-delay=".35s">
                                <span class="mr-4"><i class="fa fa-building"></i>Family Owned</span>
                                <span class="mr-4"><i class="fa fa-shield-alt"></i>Trusted Partners</span>
                                <span><i class="fa fa-check-double"></i>Quality guaranteed</span>
                            </p>
                            <a href="/contact" class="btn mt-4" data-animation="fadeInUp" data-delay=".4s">Let's Talk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .hero-perkset span i {color: #FC0000; margin-right: 4px;}
        </style>
        <!-- <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Meet with us to <br>success dream <span>business</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">There are many variations of passages of Lorem Ipsum available but the majority have sufered <br>alteration
                                in some form by injected humour randomised</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Meet with us to <br>success dream <span>business</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">There are many variations of passages of Lorem Ipsum available but the majority have sufered <br>alteration
                                in some form by injected humour randomised</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>