<section class="team-area grey-bg pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Our Team</h2>
                    <p>At Advance Fleet Services our team strives to bring you the best customer service in the industry. With over 40 years of experience, they are dedicated to service, quality, and excellence. Fully equipped with ASE certifications, Cummins certifications, A/C 608/609 certifications, welding certifications, and much more, the Advance Fleet Services Service Department brings you the best the industry has to offer. Whether your fleet operations require maintenance, parts, or professional service, the Advance Fleet Services team has you covered.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-40">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/afs-manager.jpg" alt="Advance Fleet Services Manager">
                    </div>
                    <div class="team-info">
                        <h3>James</h3>
                        <span>Branch Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-40">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="https://placehold.co/600x903/lightgray/red?text=Photo+Coming+Soon" alt="Advance Fleet Services Manager">
                    </div>
                    <div class="team-info">
                        <h3>Scott</h3>
                        <span>Service Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-40">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/afs-dale.jpg" alt="Advance Fleet Services Dale">
                    </div>
                    <div class="team-info">
                        <h3>Dale</h3>
                        <span>Trailer Division Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-40">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/afs-superman.jpg" alt="Advance Fleet Services Trever">
                    </div>
                    <div class="team-info">
                        <h3>Trevor</h3>
                        <span>Parts Manager/Service writer</span>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-40">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/afs-dennis.jpg" alt="Advance Fleet Services Dennis">
                    </div>
                    <div class="team-info">
                        <h3>Dennis</h3>
                        <span>AFS Staff</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-40">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/afs-matt.jpg" alt="Advance Fleet Services Matt">
                    </div>
                    <div class="team-info">
                        <h3>Matt</h3>
                        <span>AFS Staff</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-40">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/afs-robert.jpg" alt="Advance Fleet Services Robert">
                    </div>
                    <div class="team-info">
                        <h3>Robert</h3>
                        <span>AFS Staff</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-40">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/afs-timothy.jpg" alt="Advance Fleet Services Timothy">
                    </div>
                    <div class="team-info">
                        <h3>Timothy</h3>
                        <span>AFS Staff</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-40">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/afs-tyler.jpg" alt="Advance Fleet Services Tyler">
                    </div>
                    <div class="team-info">
                        <h3>Tyler</h3>
                        <span>AFS Staff</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>