---
layout: page
title: Truck Service
permalink: /truck-service
featuredImage: /assets/img/services/red-semi-truck-service.webp
gallery_images:
  - afs-truck-service1.webp
  - afs-truck-service2.webp
  - afs-truck-service3.webp
  - afs-truck-service4.webp
  - afs-truck-service5.webp
  - afs-truck-service6.webp
  - afs-truck-service7.webp
  - afs-truck-service8.webp
  - afs-truck-service9.webp
  - afs-truck-service10.webp
  - afs-truck-service11.webp
  - afs-truck-service12.webp
---

<div class="container pt-5 pb-0">
    <div class="row">
        <div class="col-xl-12 col-lg-12 mb-10 text-center">
            <div class="section-title service-title">
                <h1 class="">{{page.title}}</h1>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mb-0 mb-md-30">
            <p>With decades of experience and a team of highly skilled technicians, we are proud to offer full in-house servicing for all makes and models of on and off-road heavy-duty equipment in North America, forklift maintenance, and trailer repair.</p>
            <p>DPF cleaning, engine repair, A/C servicing, computer diagnostics/programming, and more, we do it all.</p>
            <p>Certified in ASE, Cummins, A/C 608/609, Welding, Boom & Rigging, Dielectric testing, and much more, the Advance Service Department brings you the best the industry has to offer.</p>
            <p>Call for service or stop in to meet with one of our experienced staff today.</p>
            <p class="mb-3"><a href="tel:2058683039" class="red-color"><i class="fas fa-phone"></i> 205-868-3039</a></p>
        </div>
        <div class="col-xl-6 col-lg-6 pt-0 pt-md-2 mb-3 md-margin">
            <img class="img-fluid" src="/assets/img/slider/afs-truck-service4.webp">
        </div>
    </div>
</div>

{% include brandt-gallery.html %}

<div class="container pt-0 pb-0 mb-5">
    <div class="row justify-content-center">
        <div class="col-12 mb-10 text-center">
            <div class='embed-container'><iframe src='https://www.youtube.com/embed/stXCgIam7X8?rel=0' frameborder='0' allowfullscreen></iframe></div>
        </div>
    </div>
</div>

<style>
.gallery-item {
    position: relative;
    aspect-ratio: 16 / 12;
}
.owl-carousel .owl-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
</style>

{% include proudly-service.html %}

